# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Monty hall.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Gelis\Documents\Gelis\Unity\Monty hall\.idea\.idea.Monty hall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
